.todo
{
  background-color:#3f3160;
  min-height:500px;
  width:800px;
  margin:40px auto;
  border-radius:10px
}

#to-do-form input{
  width:200px;
  height:50px;
  padding:0 20 px;
  margin:20px;
  font-size:18px;
  border-radius:10px
}

#to-do-form input:focus
{
  outline:none;
  padding-left:10px;
}

#to-do-form button:focus
{
  outline:none;
}


.list{
  color:#fff;
  width:600px;
  background-color: #bf07ac;
  min-height:70px;
  margin:20px auto;
  border-radius:5px;
  padding:10px
}

.para
{
  pasdding:10px
}

.btn{
  margin-left :10px;
}
.div-btn
{
  float:right
}

.btn-div
{
  margin-top:5px;
  padding:2px
}
